<html>

<head>
    <title>My App</title>
</head>

<body>
    <h1>Welcome <%=name%>
    </h1>
    <h3>Sub heading</h3>
    <div style="color: red; font-weight: bold;">
        Your age is <%=age%>
    </div>    
</body>

</html>